.root {
  & code {
    font-family: var(--mantine-font-family-monospace);
    line-height: var(--mantine-line-height);
    padding: 2px calc(var(--mantine-spacing-xs) / 2);
    border-radius: var(--mantine-radius-sm);
    font-size: var(--mantine-font-size-xs);
    margin: 0;
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    color: var(--mantine-color-bright);
  }
}

.groupsHeader {
  margin-bottom: 30px;
}

.group {
  & + & {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
  }
}

.title {
  margin-bottom: var(--mantine-spacing-sm);
  font-weight: 500;
  color: var(--mantine-color-bright);
}

.section {
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-sm);
  padding-bottom: 0;
  padding-top: var(--mantine-spacing-md);

  & + & {
    margin-top: 40px;
  }
}
